<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <nav id="mainNav" class="navbar navbar-expand-md navbar-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/posts">
        <img src="/imgs/exchange.png" width="90" height="90" class="d-inline block align-top" alt="logo">
      </a>
      <a id="link" href="/posts/new" <%- title === 'Add Post' ? 'class="active"' : '' %>> + ADD POST</a>
      <a id="link" href="/posts/index" <%- title === 'All Posts' ? 'class="active"' : '' %>>YOUR POSTS</a>
      <a id="link" href="/posts" <%- title === 'Home' ? 'class="active"' : '' %>>HOME</a>
      <% if(user) { %>
      <a href="/logout">LOGOUT</a>
      <% } else { %>
      <a href="/auth/google">LOGIN with google</a>
      <% } %>
    </div>
  </nav>
</body>