<!DOCTYPE html>
<html>
  <head>
    <title>Your Journal</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Journal</h1>
    <p>Welcome to Your Journal</p>
    <nav>
      <a href="/posts/new" <%- title === 'Add Post' ? 'class="active"' : '' %>> + ADD POST</a>
      <a href="/posts/index" <%- title === 'All Posts' ? 'class="active"' : '' %>>YOUR POSTS</a>
      <a href="/posts" <%- title === 'Home' ? 'class="active"' : '' %>>HOME</a>
    </nav>
  </body>
</html>