#quoteBanner {
    color: white;
}

#mainNav {
    background-color: #85dcb8;
}

#mainBackground {
    background-image: linear-gradient(#A8D0E6, #DA7B93);
}

#trendingCards {
    background-color: #E8A87C;

}

#trendingArticlesText {
    color: white;
}

#topicsText{
    color:white;
}