/*
    Below is styling for mainpage views/index.ejs
*/

#quoteBanner {
    color: black;
    font-family:'Staatliches', sans-serif;
    font-weight: bold;
    background-color: #85dcb8;
    height: 500px;
    font-size: 20px;
    /* background-image: linear-gradient(#85dcb8, #41b3a3); */
    /* background-image: linear-gradient(#c38d9e, white); */

}

#headingTitle{
    color: #e8a87c;
    text-decoration: underline;
    text-decoration-color: #e27d60;
}

#headingText{
    font-family: 'Montserrat', sans-serif ;
}

#mainNav {
    /* background-color: #85dcb8; */
    background-color: black;
    color: white;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
}

#link{
    color: white;
    text-decoration: none;
    background-color: none;
}

#trendingArticlesLink {
    color:black;
    text-decoration: none;
    background-color: none;
}

#mainBackground {
    /* background-image: linear-gradient(#A8D0E6, #DA7B93); */
    /* background-image: linear-gradient(#FFCDA5, #EE4D5F); */
    /* background-color:  #E3E2DF; */
    background-color: white;
}

#trendingCards {
    color: black;
    /* background-opacity: 0; */
    border-radius: 15px 50px;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    border: none;


}

#trendingArticlesText {
    color: #e8a87c;
    font-family:'Staatliches', sans-serif;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #85dcb8;
}

#topicsText{
    color: #e8a87c;
    font-family:'Staatliches', sans-serif;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #c38d9e;
}

#mainCarousel {
    background-color: white;
    /* background-image: linear-gradient(white, #41b3a3); */

}

/* 
    Below is styling for posts/index.ejs 
*/

#showContainer {
    display: grid;
    grid-template-columns: 300px 300px ;
    grid-template-rows: 230px;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;

}

#showBody {
    background-color: white;
    color: black;
}

#showHeader {
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
}

#post {
    /* border-radius: 15px 50px; */
    background-color:white;
    border: none;

}

#popSubjectContainer {
    background-color:  white;
}

/* 
    Below is styling for post full display posts/show.ejs
*/

#postTitle {
    text-align: center;
}

#postAuthor {
    text-align: center;
}

#postContent{
    text-align: center
}

/*
    Below is styling for posts/new.ejs
*/

#newPostBody{

}

#newPostForm {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#postTitle {
    display: block;
    box-sizing: border-box;
    width: 600px;
    border: none;
    height: 50px;
    outline: none;
}

#postContent {
    width: 600px;
    border: none;
    height: 700px;
    outline: none;
}

#postAuthor {
    width: 600px;
    border: none;
    height: 50px;
    outline: none;
}

#postSubmitButton {
    background-color: #c38dec;
    border-radius: 15px 50px;
    color: white;
}

/* 
    Below is styling for posts/show.ejs
*/

#showBody {
    font-family: 'Montserrat', sans-serif;
}

#postDetailTitle{
    text-align:center
}

#postDetailAuthor{
    text-align: center;
}

#postDetailContent{
    margin: auto;
    width: 50% ;
    padding: 10px;

}