<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Here are your posts</title>
</head>
<body>
    <h1>
        Here are your posts
    </h1>
    <table id="list">
        <thead>
          <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Author</th>
          </tr>
        </thead>
        <tbody>
          <% posts.forEach(function(p) { %>
            <tr>
              <td><%= p.title %></td>
              <td><%= p.content %></td>
              <td><a href="/posts/<%= p._id %>">DETAILS</a></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
    <a href="posts/new">Create a New Post</a>
</body>
</html>