<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a New Post</title>
</head>
<body>
    <h1>Create a New Post</h1>
    <form id="new-form" action="/posts" method="POST">
        <label>Title:
            <input type="string" name="title">
        </label>Content:
            <input type="string" name="content"> 
        </label>
        </label>Author:
            <input type="string" name="author">
        </label>
        <input type="submit" value="Add Post">
    </form>
</body>
</html>