<section id="show-page">
    <div>Title: </div>
    <div><%= post.title %></div>
    <div>Content: </div>
    <div><%= post.content %></div>
    <div>Author: </div>
    <div><%= post.author %></div>
  </section>